body{
    background-color: rgb(243, 243, 243);
}

img{
    width: 50px;
    height: 50px;
}

#cabeçalho{
    color: white;
    margin: 0 auto;
}

#topo{
    background-color:#ee3338;
    
}

.faixa{
    background-color: black;
    height: 10px;  
}

.footer {
    
    background-color: black;
    height: 10px; 
    position:fixed;
    bottom: 0;
    width:100%;
    margin-top: 20px;
}

#alerta {
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 100px;
    max-height: 10px;

}

#titulo {
    margin-top: 50px;
}

#pesquisador{
   
   margin: 0 auto;
   margin-top: 50px;
   max-width: 70%;
   
}



