body{
    background-color: rgb(243, 243, 243);
}

img{
    width: 50px;
    height: 50px;
}

#cabeçalho{
    color: white;
    margin: 0 auto;
}

#topo{
    background-color:#ee3338;
    
}

.faixa{
    background-color: black;
    height: 5px;  
}

.footer {
    
    background-color: black;
    height: 5px; 
    position:fixed;
    bottom: 0;
    width:100%;
    margin-top: 20px;
}

#alerta {
    margin-left: 20px;
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 80px;
    max-height: 100%;

}

#titulo {
    margin-top: 20px;

    
    
}

#tipo_de_err{
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
}

#pesquisador{
   
   margin: 0 auto;
   margin-top: 40px;
   max-width: 75%;
   
}

#seletor{

    font-size: 15px;
    border-color: black;
    color: white;
    background-color: #ee3338 ;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 40%;
    height: 35px;
    
 }

 #voltar{

    font-size: 15px;
    border-color: black;
    color: white;
    background-color:rgb(41, 172, 41) ;
    margin: 0 auto;
    max-width: 30%;
    height: 35px;
    
 }



